// Media Query
@mixin device($device) {
  @if $device == tablet {
    @media (min-width: 700px) {
      @content;
    }
  }  
  @else if $device == desktop {
    @media (min-width: 75rem) {
      @content;
    }
  }
}

// Colors
$color1: #FFFFFF;
$color2: #54E6AF;
$color3: #C2CBE5;
$color4: #5A668A;
$color5: #2C344B; 
$color6: #121725;


//Typography
$fonts: (
  "$xsmall": 14px,
  "$small": 15px,
  "$medium1": 18px,
  "$medium2": 26px,
  "$large1": 48px,
  "$large2": 52px,
);